<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/product.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../script/mainjs.js" type="text/javascript" charset="utf-8"></script>
<link type="text/css" rel="stylesheet" href="../css/style.css">
<title>[나이키] 마지스타 오브라 2 엘리트 FG (AH7305-080)</title>
</head>
<body>
<form name="product" id="buyproduct">
<div id="contents">

	<div class="productPic">
		<a href="../images/nike2.PNG" alt="" target="_blank" width="500" height="500"><img src="../images/nike2.PNG" alt=""></a>
		<center><button class="zoom" id="zoombtn"><img src="../images/zoom.gif"></button></center>
	</div>
	<div class="productInt">
		<h2 style="color:orange;">[나이키] 마지스타 오브라 2 엘리트 FG (AH7305-080)</h2>
		<hr>
		<form name="product" id="productjoin" method="post">
		<table align="center">
			<tr>
				<th>상품명</th>
				<td>[나이키] 마지스타 오브라 2 엘리트 FG (AH7305-080)</td>
			</tr>
			<tr style="color:orange;">
				<th>판매가</th>
				<td>\ 269,000</td>
			</tr>
			<tr>
				<th>결제수단</th>
				<td><input type="radio" name="pay" value="nobankbook">무통장 입금
				<input type="radio" name="pay" value="card">카드 결제
				<input type="radio" name="pay" value="bankbook">실시간 계좌이체
				</td>
			</tr>
			
			<tr>
			
				<th>사이즈</th>
				<td><select name="job" width="300">
						<option value=""> -필수- 사이즈를 선택하세요 </option>
						<option value="260"> 260 </option>
						<option value="265"> 265 </option>
						<option value="270"> 270 </option>
						<option value="275"> 275 </option>
						<option value="280"> 280 </option>
			</tr>
			<tr>
			</tr>
		</table>
		<br><br><br>	<br><br><br><br><br><br>
	</div>
	
</div>
<div id="btns">
<ul>
	<li>
	<button type="submit" class="getcartbtn" id="getcartbtn-img"><img src="../images/getcart.gif"></button>
	</li>
	<li>
	<button type="submit" class="getfavbtn" id="getfavbtn-img"><img src="../images/getfav.gif"></button>
	</li>
	<li>
	<button type="submit"  class="getbuybtn" id="getbuybtn-img"><img src="../images/buybtn.gif"></button>
	</li>
	
	
</ul>
</div>

</form>
<div id="tradepic">
<center><img src="../images/tradeimg2.png"></center>
</div>
<div id="warnpic">
<img src="../images/warning.gif">
</div>

</body>
</html>