@charset "UTF-8";
/* .table {
    width: 100%;
    border: none;
    border-collapse: separate;
    border-spacing: 2px;
}
  */
  a{
  	text-decoration: none;
  }
  a:hover, a:visited, a:link{
  	color:#000;
  }
  
.table th {
    padding: 15px;
    border: none;
    border-left: 5px solid #03a6ff;
    border-bottom: 1px solid #DDD;
    background: #f0f5f9;
    font-weight: normal;
    text-align:center;
    text-shadow: 0 1px #FFF;
    vertical-align: middle;
}
 
.table td {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #DDD;
    text-align: left;
    vertical-align: baseline;
}