@charset "UTF-8";
<style type="text/css">
	li{
		list-style: none;
	}
	header #customermenu{ /* 메인 맨위의 사용자메뉴 css */
		width: 100%;
		background-color: #353535;
	}
	header #customermenu ul{
		overflow:hidden; 
		width: 60%;
		height:30px;
		line-height:30px;
		margin: 0 auto;
		padding: 20px;
		
	}
	header #customermenu li{
		float:right;
		list-style:none;
		margin-left:50px;
		font-size:.9em;
	}
	header #customermenu img{
		float:left;
		background-color: gray;
		border-radius: 50px;
		padding: 24px;
		margin: auto 50px;
	}
	header a{
		color:#fff;
		text-decoration:none;
	}/* 
	header .mysubmenu{
		width: 30%;
	}
	header .mysubmenu ul{
		overflow: hidden;
				width: 60%;
		height:30px;
		line-height:30px;
		margin: 0 auto;
		padding: 20px;
	} */
	/* 사용자메뉴 끝 */
	#header{
		border: 1px solid black;
		border-radius : 10px;
		width: 100%;
		margin: 0 auto;
	}
	#headerwrap{ /* 메인 롤링 배너*/
		width: 100%;
		height: 500px;
		margin: 0 auto;
	}
	#headerwrap .banner{
		position: relative;
		width: 100%;
		height: 500px;
		overflow: hidden;
	}
	#headerwrap .banner ul{
		position: absolute;
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	#headerwrap .banner ul li{ /* 롤링 배너 끝 */
		float:left;
		margin: 0;
		padding: 0;
	}
	
	#category{/* 농구,축구,배드민턴 리스트 */
		 overflow:hidden;
         width:100%; 
         height:30px;
         background-color: #535353;
         padding:5px 0;
	}
	#category ul{
		width:70%; 
		float: right;
		margin:0 auto;
	}
	#category li {
		text-align:center;
		float:left;
		width: 150px;
		list-style:none;
        margin-left: 20px;
        line-height:25px;
        }
    
	#category a{
		color:#fff;
		font-size:1.1em;
		padding: 10px 30px;
		text-decoration: none;
	}
	#category a:hover{
		-webkit-transition: 1s;
		background-color: lightgray;
		color:#000;
		font-size:1.1em;
		padding: 10px 30px;
		text-decoration: none;
	}
	
	
	/* 끝 */
	#content { /* 상품목록~ */
		width: 100%;
		margin: 0 auto;
	}
	#content .search{
		width: 100%;
		
		height: 100px;
	}
	#content .search input{
		margin-top: 20px;
		border-style:double;
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
		border-color: gray;
		width:30%;
		height: 35px;
	}
	#content .search button {
	background-color: #fff;
		width: 50px;
		height:35px;
		margin: 0 auto;
	}

	#content .firstline_product{
	width: 100%;
		overflow:hidden;
	}
/* 	#content .firstline_new{
		overflow:hidden;
	}
	#content .fistline_new ul{
		float:left;
	} */
	#content .firstline_product ul{
		width: 80%;
		float:right;
		margin: 0 auto;
	}
	#content .firstline_product ul li{
		background-color: #eaedeb;
		list-style: none;
		float: left;	
		margin-right: 40px;
		width:240px;
	}
	#content .firstline_product a{
		text-decoration: none;
		color:#000;
		-webkit-transition: 1s;
	}
	#content .firstline_product a:hover{
		color:#000;
		text-decoration: underline;
		
	}
	#content .firstline_product a:visited{
		color: #000;
	}
	#content .firstline_product ul li:first-child {
            margin-left:15px;
        }
        /* 상품목록 끝 *//* 
        #floatMenu{ 플로팅 메뉴
        	text-align: left;
        	position: absolute;
        	width: 200px;
        	top: 200px;
        	right: 10px;
        	padding: 0;
        	margin: 0;
        	z-index : 9999;
        }
        #floatMenu li{
        	list-style: none;
        }
        #floatMenu a{
        	text-decoration:none;
        	width:200px;
        	height: 200px;
        	background-color: lightgray;
        	text-indent:-9999px;
        	deplay:block;
        }
        
        #floatMenu a home{
        	background-position: 0px 0px;
        }
        #floatMenu a down{
        	background-position: -40px 0px;
        } */
        
      footer{
      margin-top: 20px;
      	position: inherit;
      	background-color:#f2f2f2;
      	width:100%;
      	height:120px;
      	color: gray;
      	font-size:.8em;
      }
      footer #footer p{
      padding-top : 20px;
      margin: 0 auto;
      	width: 40%;
      	height: 100%;
      	float: right;
      }
      footer #footer img{
      	float: left;
      }
/*       #floatMenu{ 플로팅 메뉴
      	text-align:left;
      	position:absolute;
      	width:40px;
      	top:200px;
      	right:10px;
      	padding: 0;
      	margin: 0;
      	z-index: 9999;
      }
      #floatMenu a{
      	width:40px;
      	height: 40px;
      	background:url(../images/float.png) no-repeat 0 0;
      	text-indent:-9999px;
      	display: block;
      }
      #floatMenu a .home{
      	background-position: 0px 0px;
      }
      #floatMenu a .top{
      	background-position: 80px 0px;
      }
      #floatMenu a .Bottom{
      	background-position: -80px 0px;
      }
       */
</style>